<form [formGroup]="editStepContentForm">

<mat-card class="post-step-content__card" *ngFor="let step of recipeStep">
  <div class="post-step-content__card__container">
    <mat-card-title class="post-step-content__card__title">
      Step {{step.stepNo}}
    </mat-card-title>
    <mat-card-content *ngIf="!isEdditing">
      {{step.content}}
    </mat-card-content>
    <mat-card-content *ngIf="isEdditing">
      <textarea formControlName="content" matInput value="{{step.content}}" focus></textarea>
    </mat-card-content>
  </div>
  <mat-card-actions class="post-step-content__card__action">
    <button  mat-raised-button color="warn" (click)="onRemoveStep(step)">Remove</button>
    <button mat-raised-button color="primary" *ngIf="!isSaving" (click)="onEditStep()">Edit</button>
    <button mat-raised-button color="accent" *ngIf="isSaving" (click)="onSaveStep(step.stepNo, editStepContentForm.value)">Save</button>
  </mat-card-actions>
</mat-card>
</form>


<mat-card-title class="post-step-content__card__form__title">
  Next Step
</mat-card-title>
<form [formGroup]="stepContentForm" class="post-step-content__card__form">
  <mat-form-field>
    <mat-card-content class="post-step-content__card__form__content">
      <textarea formControlName="content" matInput placeholder="Step content..." focus></textarea>
    </mat-card-content>
    <mat-card-actions class="post-step-content__card__form__button">
      <button mat-stroked-button (click)="onAddStepButtonClick(stepContentForm.value)" color="primary">Add this step</button>
    </mat-card-actions>

  </mat-form-field>
</form>
