mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
.post-step-content{
  width: 100%;
}

.post-step-content, .post-ingredient{
  background-color: aliceblue;
  border-radius: 10px;
}
.post-step-content__title, .post-ingredient__title{
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.post-step-content mat-card{
  margin: 10px !important;
}

.post-ingredient{
  padding: 20px 0px;
}
